{% extends "base.html" %}

{% block content %}
<div class="container-full">
{% for ocorrencia in ocorrencia %}
    <div class="container-card">
      <div class="description-card">
        <p><label>Codigo Ocorrencia:</label> {{ ocorrencia.cd_ocorrencia }}</p>
        <p><label>Descricao Ocorrencia: </label> {{ ocorrencia.ds_ocorrencia }}</p>
        <p><label>Local Ocorrencia: </label> {{ ocorrencia.local_ocorrencia }}</p>
        <p><label>Data Ocorrencia: </label> {{ ocorrencia.data_ocorrencia }}</p>
      </div>

    </div>
{% endfor %}
</div>

{% endblock %}
