{% extends "base.html" %}
{% block content %}
<div class="container-full" style="padding:0px">
{% for viagem in viagem %}
    <div class="container-card">
      <div class="description-card">
        <div id="map-thumb"></div>
          <p><label>Codigo Viagem:</label> {{ viagem.cd_viagem }}</p>
          {% if viagem.cd_motorista_viagem is not none %}
            <p><label>Motorista: </label> {{viagem.cd_motorista_viagem}}</p>
          {% else %}
            <p class="warning"><label>Motorista: </label> Motorista não definido *</p>
          {% endif %}
          <p><label>Origem Viagem: </label> {{ viagem.origem_viagem }}</p>
          <p><label>Destino Viagem: </label> {{ viagem.destino_viagem }}</p>
          <p><label>Inicio Viagem: </label> {{ viagem.data_inicio_viagem }}</p>
          <p><label>Fim Viagem: </label> {{ viagem.data_fim_viagem }}</p>
          <p><label>Status Viagem: </label> {{ viagem.status_viagem }}</p>
          {% if viagem.status_ocorrencia == True %}
          <p><label>Status Ocorrencia: </label> Possui Ocorrencia <span class="warningtrue"></span></p>
          {% else %}
          <p class="warningfalse"><label>Status Ocorrencia: </label> Sem Ocorrencias</p>
          {% endif %}
          <a href="/viagem/{{viagem.cd_viagem}}"><div class="ver_viagem"> Ver Viagem</div></a>
      </div>
    </div>
{% endfor %}

</div>
{% endblock %}
