{% extends "base.html" %}

{% block content %}
{% autoescape on %}
{% if messages %}
    {% for message in messages %}
    <div class="overlay"></div>
    <div class="popup">
        <h2>{{ message }}</h2>
        <a class="close" onclick="fechapopup()">×</a>
        <div class="content">
        </div>
    </div>
    <script>
    function fechapopup() {
      $(".popup").remove();
      $(".overlay").remove();
    }
    </script>
    {% endfor %}
{% endif %}
<div id="loading" class="loading"></div>
<div class="container-full">
    <div class="container-card-unit">
      <div class="description-card-unit">
          <p><label>Codigo Viagem:</label> {{ viagem.cd_viagem }}</p>
          {% if viagem.cd_motorista_viagem is not none %}
            <p><label>Motorista: </label> {{viagem.cd_motorista_viagem}}</p>
          {% else %}
            <p class="warning"><label>Motorista: </label> Motorista não definido *</p>
          {% endif %}
          <p><label>Destino Viagem: </label> {{ viagem.destino_viagem }}</p>
          {% if viagem.status_viagem == 'nao_iniciada' %}
          <p class="warning"><label></label> Viagem não Iniciada*</p>
          {% else %}
            {% if viagem.status_viagem == 'cancelada' %}
            <p class="warning"><label>Status Viagem:</label> Viagem Cancelada*</p>
            {% else %}
            {% endif %}
            {% if viagem.status_viagem == 'em_andamento' %}
            <p class="alertviagem"><label>Status Viagem:</label> Viagem Em Andamento</p>
            {% else %}
            {% endif %}
            {% if viagem.origem_viagem is not none %}
            <p><label>Origem Viagem: </label> {{ viagem.origem_viagem }}</p>
            {% else %}
            <p><label>Origem Viagem: </label> - </p>
            {% endif %}
            {% if viagem.data_inicio_viagem is not none %}
            <p><label>Inicio Viagem: </label> {{ viagem.data_inicio_viagem }}</p>
            {% else %}
            <p><label>Inicio Viagem: </label>-</p>
            {% endif %}
          {% if viagem.status_viagem == 'cancelada' or viagem.status_viagem == 'finalizada' %}
          <p><label>Fim Viagem: </label> {{ viagem.data_fim_viagem }}</p>
          {%else%}
          {%endif%}
          {% for ocorrencia in ocorrencia %}
          <p><label>Descricao Ocorrencia: </label> {{ ocorrencia.ds_ocorrencia}}</p>
          <p><label>Local Ocorrencia: </label> {{ ocorrencia.local_ocorrencia}}</p>
          <p><label>Data Ocorrencia: </label> {{ ocorrencia.data_ocorrencia}}</p>
          {% endfor %}
          {% endif %}
      </div>
      {% if viagem.status_viagem == 'nao_iniciada' %}
        <a id='iniciar_viagem' href="#"><div class="ver_viagem iniciar"> Iniciar Viagem</div></a>
        <a id='cancelar_viagem' href="/viagem/cancelar_viagem/{{viagem.cd_viagem}}"><div class="ver_viagem iniciar"> Cancelar Viagem</div></a>
      {% else %}
      {% endif %}
      {% if viagem.status_viagem == 'em_andamento' %}
        <a id='finalizar_viagem' href="#"><div class="ver_viagem iniciar"> Finalizar Viagem</div></a>
      {% else %}
      {% endif %}
      <div id="map"></div>
    </div>
</div>
<script>
      var options = {
        enableHighAccuracy: true,
        timeout: 5000,
        maximumAge: 0
      };

      function success(pos) {
        var crd = pos.coords;
        $('#iniciar_viagem').attr('href','/viagem/iniciar_viagem/{{viagem.cd_viagem}}/'+crd.latitude+'/'+crd.longitude+'/');
        $('#finalizar_viagem').attr('href','/viagem/finalizar_viagem/{{viagem.cd_viagem}}/'+crd.latitude+'/'+crd.longitude+'/');
        $('#loading').fadeOut(200);
        console.log(crd.latitude);
        console.log(crd.longitude);
      };

      function error(err) {
        console.warn(`ERROR(${err.code}): ${err.message}`);
        alert('Não foi possivel carregar o mapa, realizando o refresh da página')
        location.reload();
      };

      navigator.geolocation.getCurrentPosition(success, error, options);
      function initMap() {
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: {lat: -23.6815315, lng:-46.8754941}
        });
        directionsDisplay.setMap(map);

        calculateAndDisplayRoute(directionsService, directionsDisplay);
      }

      function calculateAndDisplayRoute(directionsService, directionsDisplay) {
        directionsService.route({
          {%if viagem.status_viagem == 'nao_iniciada'%}
            origin: '{{ viagem.destino_viagem }}',
            destination: '{{ viagem.destino_viagem }}',
          {%else%}
            origin: '{{ viagem.origem_viagem }}',
            destination: '{{ viagem.destino_viagem }}',
          {%endif%}
          waypoints: {{location|safe}},
          travelMode: 'DRIVING'
        }, function(response, status) {
          if (status === 'OK') {
            directionsDisplay.setDirections(response);
          } else {
            console.log('Erro: ' + status);
          }
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBC4a11g-stHdlMa7F89GlytBEWQ09Ww_o&callback=initMap">
    </script>
{% endautoescape %}
{% endblock %}
