{% extends "base.html" %}

{% block content %}
<div class="container-full">
    <div class="container-card-unit">
      <div class="description-card-unit">
          <p><label>Codigo Viagem:</label> {{ viagem.cd_viagem }}</p>
          {% if viagem.cd_motorista_viagem is not none %}
            <p><label>Motorista Viagem: </label> {{viagem.cd_motorista_viagem}}</p>
          {% else %}
            <p class="warning"><label>Motorista Viagem: </label> Motorista não definido *</p>
          {% endif %}
          <p><label>Origem Viagem: </label> {{ viagem.origem_viagem }}</p>
          <p><label>Destino Viagem: </label> {{ viagem.destino_viagem }}</p>
          <p><label>Inicio Viagem: </label> {{ viagem.data_inicio_viagem }}</p>
          <p><label>Fim Viagem: </label> {{ viagem.data_fim_viagem }}</p>
      </div>
      <div id="map"></div>

    </div>
</div>
<script>
      function initMap() {
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: {lat: 41.85, lng: -87.65}
        });
        directionsDisplay.setMap(map);

        calculateAndDisplayRoute(directionsService, directionsDisplay);
      }

      function calculateAndDisplayRoute(directionsService, directionsDisplay) {
        directionsService.route({
          origin: '{{ viagem.origem_viagem }}',
          destination: '{{ viagem.destino_viagem }}',
          waypoints: [{location:'rua omacha'}],
          travelMode: 'DRIVING'
        }, function(response, status) {
          if (status === 'OK') {
            directionsDisplay.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBC4a11g-stHdlMa7F89GlytBEWQ09Ww_o&callback=initMap">
    </script>
{% endblock %}
